<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MOFIN_Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MOFIN_Lib.Properties.Settings.MonitorOperacionesConnectionString"
            connectionString="Data Source=SOULHUNTER-PC\MOFIN;Initial Catalog=MonitorOperaciones;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MOFIN_Lib.Properties.Settings.EntornoConnectionString"
            connectionString="Data Source=SOULHUNTER-PC\MOFIN;Initial Catalog=Entorno;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <MOFIN_Lib.Properties.Settings>
            <setting name="vs_Idioma" serializeAs="String">
                <value>Ingles</value>
            </setting>
        </MOFIN_Lib.Properties.Settings>
    </userSettings>
</configuration>