<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MOFIN_Lib.Properties.Settings.MonitorOperacionesConnectionString"
            connectionString="Data Source=SOULHUNTER-PC\MOFIN;Initial Catalog=MonitorOperaciones;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>