<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MOFIN.Properties.Settings.EntornoConnectionString"
            connectionString="Data Source=CARLOS-10;Initial Catalog=Entorno;Integrated Security=True"
        providerName="System.Data.SqlClient" />
        <add name="MOFIN.Properties.Settings.MonitorOperacionesConnectionString"
            connectionString="Data Source=CARLOS-10;Initial Catalog=MonitorOperaciones;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>